@import "constants.module";

body {
  //CRAデフォ どんな値が良いのかわからない
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  //全体フォントサイズ
  font-size: $baseFontSize;
  
  //ブラウザのデフォルトスタイル打ち消し
  margin: 0;
  
  //一番上の要素として高さ・幅指定
  position: absolute;
  height: 100%;
  width: 100%;
  min-width: $minWidth;
  min-height: $minHeight;
  
  //rootのdivの高さ指定
  & > div {
	height: 100%;
  }
  
}

code {
  //CRAデフォ どんな値が良いのかわからない
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.app {
  //ヘッダー、メイン部分、フッターを縦ならべ
  display: flex;
  flex-direction: column;
  
  height: 100%;
  
  //最小幅
  //todo 固定値
  min-width: 720px;
  
  //メインのページ部分
  //縦に並べた時に2番目の要素になるように配置しているため
  & > :nth-child(2) {
	//高さ最大まで伸長させる
	flex-grow: 1;
  }
}
