@import "constants.module";

// region ボタン 形とか
@mixin smallButtonSize {
  width: 150px;
  height: 40px;
  font-size: $smallFontSize;
}

@mixin mediumButtonSize {
  width: 200px;
  height: 50px;
  font-size: $baseFontSize;
}

@mixin largeButtonSize {
  width: 300px;
  height: 60px;
  font-size: $LargeFontSize;
}

//endregion

// region アプリ内の基本的なボタンの背景・文字色
@mixin basePositiveButtonColor {
  background-color: rgba(0, 0, 205, 1);
  color: $mainWhite;
  
  &:hover {
	background-Color: rgba(0, 0, 205, 1);
  }
  
  &:disabled {
	@include baseDisabledButtonColor;
  }
}

@mixin baseNegativeButtonColor {
  background-color: rgba(120, 120, 120, 1);
  color: $mainWhite;
  
  &:hover {
	background-color: rgba(120, 120, 120, 1);
  }
  
  &:disabled {
	@include baseDisabledButtonColor;
  }
}

@mixin baseDisabledButtonColor {
  background-color: rgba(200, 200, 200, 1);
  color: $mainWhite;
}

//endregion

//改行の反映
.displayLinebreak {
  //連続ブランクは詰めて、改行を反映し、単語中で改行はしない
  white-space: pre-line;
}
