//画面最小サイズ
$minWidth: 750px;
$minHeight: 450px;

//アプリ全体の色定義
$mainColor: rgba(0, 159, 226, 1);
$mainWhite: rgba(255, 255, 255, 1);
$frameColor: solid 1px lightgray;

// テキスト入力欄の枠
$textFieldOutlineColor: rgba(0, 0, 0, 1);

// エラーメッセージの文字の色
$errorMessageColor: rgba(255, 0, 0, 1);

// リンク風にするところの色
$linkLikeColor: rgba(0, 0, 238, 1);

// フォントサイズ
$smallFontSize: max(12px, 0.6rem);
$baseFontSize: max(16px, 0.6rem);
$LargeFontSize: max(20px, 0.6rem);
