//アプリとしての最小幅
$appMinWidth: 720px;

//フォント
$smallFontSize: max(12px, 0.6rem);
$baseFontSize: max(16px, 0.6rem);
$LargeFontSize: max(30px, 0.6rem);

//ホバーしたときに透過させるときの不透明度
$hoverOpacity: 0.8;
